body {
    font-size: 2vw;
}
.ant-input{
    background-color: #f2f3f5  !important;
}
.adm-tabs-tab-active{
    color: #ee6a96 !important;
}
.adm-tabs{
    --active-line-color: #ee6a96!important;
}
.song-list:nth-child(odd) {
    background-color: #f7f7f7;
}